Mode = debug

[app]
PageSize = 12

[server]
Url = http://127.0.0.1
Port = <Port>
ReadTimeout = 60
WriteTimeout = 60
HttpsCrt = <"/path/to/fullchain.pem">
HttpsKey = <"/path/to/privkey.pem">

[database]
Type = MongoDB
AtlasURI = mongodb+srv://<username>:<password>@<url>?authSource=admin
DBName = scopelens

[jwt]
SigningKey = <SigningKey>
ReCaptchaSecret = <ReCaptchaV2Secret>

[path]
ImageSavePath = assets/teams/
SpritePath = assets/sprites/
LogPath = log/log.log

[aws]
AccessKey = <AccessKey>
SecretKey = <SecretKey>
Region = <Region>
Bucket = <Bucket>
TeamPath = <path/to/teamsFolder>